/Kurssistatistiikka/.nb-gradle/
/Kurssistatistiikka/build/
/Kurssistatistiikka/.gradle/
/HelloCucumber/.nb-gradle/
/HelloCucumber/build/
/HelloCucumber/.gradle/
/LoginCucumber/.nb-gradle/
/LoginCucumber/build/
/LoginCucumber/.gradle/
/WebLogin/.nb-gradle/
/WebLogin/.gradle/
/WebLogin/build/

